<div class="logo">
    <img src="https://peanut1019.github.io/WDD330Project//img/Mellow.png" alt="Mellow Yeller Logo"/>
    <a href="https://peanut1019.github.io/WDD330Project//index.html"><h1>Mellow Yeller</h1></a>
</div>
<nav>
    <ul>
        <li><a href="https://peanut1019.github.io/WDD330Project/entries.html">Entries</a></li>
        <li><a href="https://peanut1019.github.io/WDD330Project/message.html">Affirmations</a></li>
        <li><a href="https://peanut1019.github.io/WDD330Project/tracker.html">Mood Tracker</a></li>
    </ul>
</nav>